# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.go~
*.mod~
*.el-errors
*.el
*.go#
*.#*
data.env
*.env~
goscrapy
api

# Database test
MANIFEST
KEYREGISTRY
*.vlog
*.sst

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
